/* importa components */

@import 'components/header';
@import 'components/mvp';
@import 'components/rank';
@import 'components/footer';
@import 'components/eventos';

/* import base */
@import 'base/colours';
@import 'base/variables';
@import 'base/extends';
@import 'base/mixins';
@import 'base/maps';

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Barlow', sans-serif;
    main {
        .intro-container {
            @include p(5%, flex, center);
        }
    }
}

img {
    width: 100%;
}

