@import '../base/maps';
@import '../base/colours';

.sub-titles {
    background-image: map-get($rank, bg-rank);
    padding: map-get($rank, pad-rank);
    font-size: map-get($rank, font-rank);
    color: map-get($rank, color-font-rank);
    
    text-align: map-get($rank, align-rank);
    margin-bottom: map-get($rank, marg-bot-rank);
    margin-top: map-get($rank, marg-top-rank);
}

.rank-container {

    
    @extend %rank;
    

    .logo-team {
        
        margin-right: 5%;
        

    }
   
}