.sub-titles {
    background-image:
    linear-gradient(to right, yellow , magenta);
    padding: 50px;
    font-size: 35px;
    color: #ffffff;
    
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.rank-container {
    margin-bottom: 80px;
    background-color: #f7ff8b;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}