$bg-gradient-1: linear-gradient(to right, yellow, violet);

$bg-gradient-2: linear-gradient(to right, rgb(255, 0, 43), magenta);

$bg-gradient-3: linear-gradient(to bottom, rgb(255, 255, 255), rgb(249, 184, 255));

$bg-gradient-4: linear-gradient(to right, yellow , magenta);